.background {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #020614da
}

.popup {
    position: absolute;
    background-color: var(--offwhite);
    width: 22vw;
    height: 100vh;
}

.icon {
    width: 1.2vw;
    height: 1.2vw;
}