.background {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #020614da
}

.popup {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: absolute;
    background-color: var(--offwhite);
    width: 22.3vw;
    height: 100vh;
    padding: 6vh 1.5vw;
}

.title {
    font-size: 1.5vw;
    color: var(--primary);
    margin-bottom: -4vh
}

.description {
    font-size: 0.96vw;
    color: var(--primary);
    margin-top: -4vh;
}

.input {
    outline: none;
    border-radius: 7px;
    border: 1px solid var(--gray);
    font-size: 0.9vw;
    padding: 1.8vh 1vw;
    width: 100%;
    margin-top: -7vh;
}

.forgotPassword {
    width: 100%;
    cursor: pointer;
    text-decoration-line: underline;
    color: var(--primary);
    font-size: 0.87vw;
    margin-top: -8vh;
}

.registerButton, .loginButton {
    outline: none;
    border: none;
    border-radius: 7px;
    width: 48%;
    font-weight: 600;
    font-size: 0.75vw;
    padding: 2vh 0;
    margin-top: -12vh;
}
.registerButton {
    margin-right: 4%;
    background: none;
    border: 1px solid var(--primary);
}

.loginButton {
    background-color: var(--primary);
    color: var(--white);
}

.divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -10vh;
}

.divider .line {
    width: 4vw;
    height: 1px;
    background-color: var(--primary);
}

.divider .text {
    font-size: 0.75vw;
    color: var(--primary);
}

.icon {
    width: 1.2vw;
    height: 1.2vw;
    margin-right: 1vw;
}

.googleLogin, .facebookLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border: none;
    border-radius: 7px;
    outline: none;
    width: 100%;
    padding: 2vh 0;
    cursor: pointer;
}

.googleLogin {
    margin-top: -14vh;
}

.facebookLogin {
    background-color: var(--facebook-blue);
    margin-top: -15vh;
}

.googleLogin p, .facebookLogin p {
    font-size: 0.95vw;
}

.facebookLogin p {
    color: var(--white);
}